<h1><%= params[:team][:name] %></h1>

<h2><%= params[:team][:motto] %></h2>


<h2>Hero Name <%= params[:team][:members][0][:name] %></h2>
<a>Hero Power: <%=  params[:team][:members][0][:power]%></a> <br>
<a>Hero Biography: <%=  params[:team][:members][0][:biography]%></a>

<h2>Hero Name <%= params[:team][:members][1][:name] %></h2>
<a>Hero Power: <%=  params[:team][:members][1][:power]%></a> <br>
<a>Hero Biography: <%=  params[:team][:members][1][:biography]%></a>


<h2>Hero Name <%= params[:team][:members][2][:name] %></h2>
<a>Hero Power: <%=  params[:team][:members][2][:power]%></a> <br>
<a>Hero Biography: <%=  params[:team][:members][2][:biography]%></a>

